.MuiGridList-root{
    display:flex;
    align-items: center;
    justify-content: center;
}

.MuiGridListTile-root{
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px transparent;
    margin: .25rem;
    background: transparent;
}

.image-container img{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid #bf5700;
    display:block;
    margin:auto;
    transform: translate(0, 10px);
    object-fit: cover;
}

.lower-container{
    margin-top: 15px;
    background: transparent;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

.lower-container h3, h4, p{
    margin: 0;
    padding: 0;
}

.lower-container h3{
    color: #333f48;
    font-weight: 600;
    font-size: 1.0rem;
}

.lower-container h4{
    color: #333f48;
    font-weight: 700;
    font-size: .62rem;
}

.lower-container p{
    margin: 1rem;
    color: #333f48;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: justify;
}

.people-class {
    background: #F0F3F4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
  
.people-container {
    margin: 0 auto;
    max-width: 1050px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    width: 100%;
}
  
.header-subtitle {
    color: #787575;
    font-size: .75rem;
    font-weight: 600;
    margin: auto;
    padding-bottom: 1.0rem;
    padding-top: 2.0rem;
    margin-bottom: 1rem;
}

.member-grid-item {
    overflow: hidden;
}

.student-titles {
    padding: 1rem 1rem;
}

.title-grid {
    margin-bottom: 2rem;
}

.title-header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}