.project-page-class h2,h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.project-page-class h3 {
  margin-top: 2rem;
  color: #333f48;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
}

.project-page-class h4 {
  color: #333f48;
  font-weight: 700;
  font-size: 0.62rem;
}

.project-page-class h2 {
  margin-top: 15px;
  color: #333f48;
  font-weight: 700;
  font-size: 1.25rem;
}

.project-page-class p, ol, li {
  color: #333f48;
  margin-top: 10px;
  font-weight: 300;
  font-size: 0.8rem;
}

