.publications-class .header-subtitle:after{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    width: 100%;
}

.publication-container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 1.25rem; 
}

.header-subtitle {
    color: #787575;
    font-size: 1.0rem;
    font-weight: 600;
    margin: auto;
    padding-bottom: 1.0rem;
    padding-top: 2.0rem;
    margin-bottom: 1rem;
}

.publication-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.year-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; 
}

.year-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.type-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.type-header {
    font-size: 1.125rem;
    font-weight: bold;
    color: #333f48;
    margin-top: 1.5rem;
    margin-bottom: .625rem;
}

.publication-card {
    margin-bottom: 15px;
}

.lower-container-pubs {
    background: transparent;
    margin-left: 4rem;
    font-family: 'Libre Franklin', sans-serif;
}

.lower-container-pubs h3, h4, p {
    margin: 0;
    padding: 0;
    padding-bottom: .4rem;
}

.lower-container-pubs h3 {
    color: #333f48;
    font-weight: 700;
    font-size: 1rem;
}

.lower-container-pubs h4 {
    color: #333f48;
    font-weight: 500;
    font-size: .875rem;
}

@media (max-width: 600px) {
    .lower-container-pubs h3, 
    .lower-container-pubs h4, 
    .lower-container-pubs p {
        font-size: 0.8rem;
    }

    .lower-container-pubs {
        margin-left: 2rem;
    }
    
    .year-header h3 {
    font-size: 1.2rem;
    }
    
    .type-header {
    font-size: 1rem;
    }
    
    .header-subtitle {
    font-size: 0.8rem;
    }
    
    .publication-container {
    padding: 0 10px;
    }
}