.Tile .MuiGridList-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tile .MuiGridListTile-root {
  height: 300px;
  minHeight: '100vh';
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px transparent;

}

.tiles-class{
  margin-bottom: 5.45rem;
}

.Tile .image-container img {
  width: 125px;
  height: 125px;
  border-radius: 10%;
  padding: 5px;
  /*filter: grayscale(100%);*/
  border: 2px solid #333f48;
  display: block;
  margin: auto;
  transform: translate(0, 18px);
}

.Tile .upper-container{
  border-radius: 5%;
  background: #f8971f;
}

.tiles-class li.MuiGridListTile-root{
  background: #F0F3F4;
  border-radius: 5%;
}

.Tile .lower-container {
  margin-top: 0px;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

.Tile .lower-container h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.Tile .upper-container h3 {
  padding-top: 30px;
  color: #333f48;
  font-weight: 600;
  font-size: .90rem;
  text-align: center;
}

.Tile .lower-container h4 {
  color: #333f48;
  font-weight: 400;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: 1.6rem;
  font-size: 0.75rem;
  position: relative;
  bottom: 0;
  left: 0;
}

.Tile .lower-container p {
  margin: 1rem;
  color: #333f48;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: justify;
}

