.Tile .MuiGridList-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tile .MuiGridListTile-root {
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px transparent;

}

.Tile .image-container img {
  width: 125px;
  height: 125px;
  border-radius: 10%;
  padding: 5px;
  border: 2px solid #333f48;
  display: block;
  margin: auto;
  transform: translate(0, 18px);
}

.Tile .upper-container{
  border-radius: 5%;
  background: #bf5700;
}

.tiles-class li.MuiGridListTile-root{
  background: #F0F3F4;
  border-radius: 5%;
}

.Tile .lower-container {
  margin-top: 0px;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

.Tile .lower-container h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.Tile .upper-container h3 {
  padding-top: 30px;
  margin-bottom: 5px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: .78rem;
  text-align: center;
}

.Tile .lower-container h4 {
  color: #333f48;
  font-weight: 400;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: 1.6rem;
  font-size: 0.75rem;
  position: relative;
  bottom: 0;
  left: 0;
}

.Tile .lower-container p {
  margin: 1rem;
  color: #333f48;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: justify;
}

.tiles-class {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 5.45rem;
}

.inner-container {
  margin: 0 auto;
  max-width: 1050px;
  padding-bottom: 1.45rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 100%;
}

.header-subtitle {
  color: #787575;
  font-size: .75rem;
  font-weight: 600;
  margin: auto;
  padding-bottom: 1.0rem;
  padding-top: 2.0rem;
  margin-bottom: 1rem;
}

.MuiTabs-root {
  margin-bottom: 20px;
  text-align: left;
}

.Tile a {
  color: #333f48;
  text-decoration: none;
  font-size: .73rem;
}

@media (max-width: 600px) {
  .Tile .image-container img {
    width: 100px;
    height: 100px;
  }

  .Tile .upper-container h3 {
    font-size: .7rem;
  }

  .MuiTabs-flexContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .MuiTab-root {
    width: 100%;
  }
}